*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}*
body{
  font-family: Arial, sans-serif;
padding: 0;
margin: 0;
background-image: radial-gradient(circle,#3BDEEEF0,#979494,#D5ACFCF0);
margin-bottom: 0;
font-size: 18px;
overflow-x: hidden;
}
h2{
    background-image: url('/bk g.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    font-size:30px;
    text-align: center;
    padding: 5px;
    
}

@media screen and(max-width: 768px) {
  h2{
    padding: 5px;
    width: 100%;
    margin: 0;
    margin-top: 500px;
  }
}
@media screen and (min-width: 1025px){
h2{
  padding: 40px;
  margin: 0;
  width: 100%;
  margin-top: 130px;
}
}
.paragraph{
  padding: 0;
  margin: 0;
}
header{
  background-color: rgba(66, 68, 90, 1);
  text-align: left;
  margin: 0;
  width: 100%;
  
}

@media only screen and (max-width: 768px){
  header {
    padding: 20px;
    margin: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  h2 {
    padding: 40px;
    margin-top: 130px !important; /* Adjust this value to your liking */
    width: 100%;
  }
}

header nav ul{
list-style: none;
margin: 0;
/*padding: 5px;*/
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
}

header nav ul li{
  display: inline-block;
}
header nav a{
  color: white;
  transition: text-shadow 0.1s ease-out;
  text-decoration: none;
  justify-content: space-between;
  font-size: 20px;
}
header nav a:hover{
  color: orange;
  text-shadow: 2px 2px 5px rgba(106, 13, 156, 1) ;
}
header nav a:active{
  color: purple;
}
.paragraph{
  display: relative;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  
}
.p1{
  display: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.pp{
  text-align: center;
  margin-left: 3px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 3;
}
.img {
  position: relative;cursor: pointer;
  left: 40px;
  right: 0;
  transition: box-shadow 0.1s ease-out;
}
.profile{
object-fit: cover;
border-radius: 50%;
width: 95px;
height: 93px;
border: 3px solid rgba(221, 195, 19, 1);
box-shadow: 0 0 30px rgba(135, 217, 143, 1);
animation: rotate 3s  1 reverse;

}
.img :hover {
  box-shadow: 0 0 10px 5px rgba(255, 105, 180, 0.7);
  transform: scale(1.05);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

aside {
  margin: 20px 0;
  margin-left: 5px;
}

aside details summary {
  cursor: pointer;
}
.techdata{ 
  background-color: rgba(19, 221, 212, 1);
}
.h33{
  background-color: rgba(218, 210, 145, 1);
  padding: 5px;
  font-size: 20px;
  font-family: 'times new roman',sans-serif;
  box-shadow: 0 0 15px rgba(218, 161, 145, 1);
  text-align: center;
}
.techp{
  padding: 20px;
  text-align: center;
  line-height: 2;
}
.img2{
  height: 195px;
  width: 100%; 
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(145, 145, 218, 1);
  opacity: 0.1;
  transition: opacity 0.2s ease;
}
.img2:hover{
  opacity: 1;
}
.bio{
  background-color: rgba(218, 210, 145, 1);
  padding: 5px;
  font-size: 20px;
  font-family: 'times new roman',sans-serif;
  box-shadow: 0 0 15px rgba(218, 161, 145, 1);
  text-align: center;
}
.biop{
  padding: 20px;
  text-align: center;
  font-weight: 100;
  line-height: 3;
}


.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.column {
  flex-basis: 30%;
  
}

.column h3 {
  margin-top: 0;
  margin-left: 0;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.column img{
  border-radius: 50%;
}
.column li {
  margin-bottom: 5px;
}

.column a {
  color: #fff;
  text-decoration: none;
}

.column a:hover {
  color: #ccc;
}

.copyright {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
